
/* .flexRowContent {
  background-color: #FCFCFC;
  justify-content: center;
}

.flexCol {
  margin-left: 251px;
}

.flexRowContent--treeinfocards {
  display: flex;
  justify-content: center;
  gap: 0px;
  justify-content: left;
} */
.flexRow--treeinfocards1 {
    display: flex;
    height: 100px;
    justify-content: flex-start;
}
.flexRowContent--menu-category{
  background-color:#23475E ;
  padding: 8px;
}
.flexRowContent--linhas{
  padding: 15px;
  margin:50px ;
}
/* .flexRow--imageslinhas{
  display: flex;
  gap: 20px;
} */
.flexRow--imageslinhas{
  height:487px;
  gap: 7px;
  padding-top: 48px;
}
.flexRow--shelf1{
  height: 459px;
}
.flexRow--smartphones{
  height: 680px
}
.flexRowContent--smartphones{
  display: flex;
  justify-content: center;
}

.flexRowContent--smartphones {
  height: 100%;
  gap: 81px;
}
.flexRowContent--imageslinhas{
  gap: 7px;
}
/* .stretchChildrenWidth-- desc07{

} */
.flexRow--desconto07 {
  height: 600px;
}
.flexCol--depoiiphone{   
  height: 400px;
  width: 390px;    
  background: #fff;
  margin-right: -15px;
}.flexCol--depoitv{   
  height: 400px;    
  width: 390px;   
  background: #fff;       
}.flexCol--depoicafone{   
  height: 400px;     
  width: 390px; 
  background: #fff;   
  margin-left: -90px;   
}

.flexRow--depoit{
  height: 400px;
  padding-left: 150px;
  background: #FCFCFC;
}.flexRow--bolls2{
  background: #FCFCFC;
}
.flexRow--depoit{
  
  margin-right: 41px;

}
.flexRowContent--image-prumo2{
  margin-top: 300px;
  height: 300px;
}.flexRowContent--fiquep{
 background-color:#F76161 ; 
 width: 100%;
}
.flexRow--footer{
  height: 250px;
  
}
.flexRowContent--footer{
  width: 515px;
  margin-top: 70px;
}
.flexCol--iprumo{
  height: 70px;   
  margin-left: 600px; 
}.flexCol--inst{
  width: 100px;
  height: 100px;
  margin-left: 1300px;   
}
.flexCol--poli{
  width: 100px;
  height: 100px;
  margin-left: 1400px;   
}
.flexCol--ajuda{
  width: 100px;
  height: 100px;
  margin-left: 1600px;   
}